[app]
title = MinecraftController
package.name = mccontroller
package.domain = org.example
source.dir = .
source.include_exts = py,png,jpg,kv,atlas
requirements = python3,kivy,websockets
orientation = sensor
fullscreen = 1

